# Ignore everything
*

# But not these files...
!*.txt
!*.md
!*.R
!*.sh
!*.py
!*.yml
!.gitignore

# And not these directories
!*/

# Small test fixtures committed to the repo
!test/data/*.small.fastq.gz
!test/data/tf.orf.lib.fa.gz
